/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.form{
    margin: 20px;
}

.left_bar{
    max-width: 20%;
    display: inline-block;
    vertical-align: top;
}
.main_list{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    max-width: 70%
}

.each_product{
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 150px;
    outline: 1px solid black;
    text-align: center;
    margin: 10px;
}
.prodimg{
    width: 100px;
    height: 100px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
