@{
    ViewData["Title"] = "Customers";
}
<h1>Customers</h1>

@model Customer
<div class="form">
    <h3>Add a new Customer</h3>
    <form asp-action="newCustomer" asp-controller="Customers" method="post">

        <label asp-for="Name">Customer Name:</label>
        <input asp-for="Name">
        <button type="submit">Add Customer</button>
    </form>
</div>


<form action="/customers/search" method="post">
    <input type="text" name="keyword" placeholder="Search name...">
    <button type="submit">Search</button>
</form>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Customer Name</th>
            <th scope="col" >Created Date</th> 
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (Customer cust in ViewBag.allCustomers)
        {
            <tr>
                <td>@cust.Name</td>
                <td>@cust.CreatedAt.ToString("MMMM dd yyyy")</td>
                <td>
                    <button><a href="/customers/remove/@cust.CustomerId">Remove</a></button>
                    </td>
            </tr>
        }
    }
        
            
    </tbody>
</table>